#!/bin/bash

# --------------------------------------------------------------
# source .alias files
# --------------------------------------------------------------

mytimer() {
    start=$(date +%s)
    $@
    end=$(date +%s)
    runtime=$((end - start))
    echo "‣ Command $@ took $runtime seconds"
}

echo "======================================================="
echo "📌 You've reached the router $0"
echo "📂 Sourcing aliases and setup scripts from $ALIASES_DIR"

# mytimer source ~/.alias_docker
# mytimer source ~/.alias_git
# mytimer source ~/.alias_kube

for alias_file in $(dirname "$0")/.alias_*; do
    mytimer source "$alias_file"
done

echo "======================================================="
echo "✅ Finished loading all alias files"
