#!/bin/bash

# --------------------------------------------------------------
# source .alias files
# --------------------------------------------------------------

mytimer() {
    start=$(date +%s)
    $@
    end=$(date +%s)
    runtime=$((end - start))
    echo "Command $@ took $runtime seconds"
}

mytimer source ~/.alias_docker
mytimer source ~/.alias_dvc
mytimer source ~/.alias_fzf
mytimer source ~/.alias_git
mytimer source ~/.alias_kube
mytimer source ~/.alias_misc
mytimer source ~/.alias_python
mytimer source ~/.alias_tmux
mytimer source ~/.alias_shell

OS=$(uname -s)

if [ "$OS" = "Darwin" ]; then
    source ~/.alias_mac
elif [ "$OS" = "MSYS_NT-10.0-19042" ]; then
    source ~/.alias_windows
elif [ "$OS" = "Linux" ]; then
    echo "This is Linux"
else
    echo "OS not recognized"
fi
